iframe {
    pointer-events: none;
}

#player {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.player-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: var(--player-bar-height);
    z-index: 40;
    background-color: var(--player-bar-background);
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    grid-template-areas: "start middle end";
    color: var(--text-color);
}

.controls {
    display: flex;
    align-items: center;
    color: var(--text-color);
    fill: var(--text-color);
    font-size: 15px;
}

.left-controls {
    grid-area: start;
    justify-content: flex-start;
}
.middle-controls {
    grid-area: middle;
    justify-content: center;
}
.right-controls {
    grid-area: end;
    justify-content: flex-end;
}

#time-info {
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

#xml-input {
    border: none;
    display: hidden;
    width: 0px;
    height: 0px;
}

.control-button {
    appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.text-button {
    color: var(--text-color);
    fill: var(--text-color);
    font-size: 20px;
    font-weight: 900;
}

/* progress bar css */
#progress-bar-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    cursor: pointer;
}

#progress-bar {
    width: 0;
    height: 100%;
    background: var(--progress-bar-fill);
    border-radius: 2px;
}

/* volume css */
#volume-slider {
    appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 60px;
    height: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

#volume-slider::-webkit-slider-thumb {
    appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

@media (max-width: 800px) {
    #volume-slider {
        display: none;
    }
}

@media (max-width: 600px) {
    #time-info {
        display: none;
    }
}
