/* selecter */
/* selector css */
#yt-selector {
    appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 250px;
    margin-left: 10px;
    margin-right: 20px;
    color: var(--text-color);
    background-color: transparent;
    border: none;
}

.select-wrapper {
    position: relative;
    width: 300px;
    user-select: none;
}

.select-trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    cursor: pointer;
}

.select-trigger::after {
    content: "▲";
    font-size: 10px;
    color: #888;
}

.select-wrapper.open .select-trigger {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select-wrapper.open .select-trigger::after {
    transform: rotate(180deg) translateY(2px);
}

.options {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #bbb;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    max-height: 90vh;
    overflow-y: auto;
    scrollbar-color: #bbb rgba(0, 0, 0, 0.8);
    scrollbar-width: thin;
    z-index: 50;
    visibility: hidden;
}

.select-wrapper.open .options {
    opacity: 1;
    visibility: visible;
}

.option {
    font-size: 15px;
    cursor: pointer;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.option:hover {
    background-color: rgba(10, 10, 10, 0.8);
    color: #ddd;
}

.option.selected {
    background-color: rgba(20, 20, 20, 0.8);
    font-weight: 600;
    color: #fff;
}

.scroller {
    width: 300px;
    height: 100px;
}

/* playbar */
iframe {
    pointer-events: none;
}

#player {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.player-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: var(--player-bar-height);
    z-index: 40;
    background-color: var(--player-bar-background);
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    grid-template-areas: "start middle end";
    color: var(--text-color);
}

.controls {
    display: flex;
    align-items: center;
    color: var(--text-color);
    fill: var(--text-color);
    font-size: 15px;
}

.left-controls {
    grid-area: start;
    justify-content: flex-start;
}
.middle-controls {
    grid-area: middle;
    justify-content: center;
}
.right-controls {
    grid-area: end;
    justify-content: flex-end;
}

#time-info {
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

#xml-input {
    border: none;
    display: hidden;
    width: 0px;
    height: 0px;
}

.control-button {
    appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    width: 48px;
    height: 32px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.text-button {
    color: var(--text-color);
    fill: var(--text-color);
    font-size: 18px;
    font-weight: 900;
}

/* progress bar css */
#progress-bar-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    cursor: pointer;
}

#progress-bar {
    width: 0;
    height: 100%;
    background: var(--progress-bar-fill);
    border-radius: 2px;
}

/* volume css */
#volume-slider {
    appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 60px;
    height: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

#volume-slider::-webkit-slider-thumb {
    appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

@media (max-width: 800px) {
    #volume-slider {
        display: none;
    }
}

@media (max-width: 600px) {
    #time-info {
        display: none;
    }
}
