/* selector css */
#yt-selector {
    appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 250px;
    margin-left: 10px;
    margin-right: 20px;
    color: var(--text-color);
    background-color: transparent;
    border: none;
}

.select-wrapper {
    position: relative;
    width: 300px;
    user-select: none;
}

.select-trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    cursor: pointer;
}

.select-trigger::after {
    content: "▲";
    font-size: 10px;
    color: #888;
}

.select-wrapper.open .select-trigger {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select-wrapper.open .select-trigger::after {
    transform: rotate(180deg) translateY(2px);
}

.options {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #bbb;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    max-height: 90vh;
    overflow-y: auto;
    scrollbar-color: #bbb rgba(0, 0, 0, 0.8);
    scrollbar-width: thin;
    z-index: 50;
    visibility: hidden;
}

.select-wrapper.open .options {
    opacity: 1;
    visibility: visible;
}

.option {
    font-size: 15px;
    cursor: pointer;
    padding: 5px;
}

.option:hover {
    background-color: rgba(10, 10, 10, 0.8);
    color: #ddd;
}

.option.selected {
    background-color: rgba(20, 20, 20, 0.8);
    font-weight: 600;
    color: #fff;
}

.scroller {
    width: 300px;
    height: 100px;
}
